
@model ReflectionIT.Mvc.Paging.PagingList<CLOUD462022.Models.Product>


@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filter"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
</form>

Total products : @Model.TotalRecordCount

<div>
    <vc:pager paging-list="@Model" class="text-info"></vc:pager>
</div>

<br />

<h3><a asp-action="Create" >Create New</a></h3>

<br />

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.SortableHeaderFor(model => model.ProductName, "ProductName")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageUrl)                        
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsFavourite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                            <img src="@item.ImageUrl" class="img-fluid" height="50" width="50">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsFavourite)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <vc:pager paging-list="@Model"></vc:pager>
        </div>

    </div>
</div>